.accordion-panel {
  @media (max-width: $mobile-width-max) {
    display: none;
    overflow: hidden;
  }

  .no-js &,
  .active & {
    @media (max-width: $mobile-width-max) {
      display: block;
    }
  }
}
