.advantages {
  padding: 110px 20%;

  @media (max-width: $tablet-width-max) {
    padding: 54px 25px;
  }

  @media (max-width: $mobile-width-max) {
    padding: 37px 16px;
  }
}

.advantages-list {
  @include no-list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
  }
}

.advantages-item {
  background: #ffffff;
  border: 1px solid #ebebeb;
  border-left: 3px solid #00b2ff;
  margin-bottom: 30px;
  padding: 72px 45px 30px 45px;
  width: calc((100% - 30px)/2);

  &:nth-child(2n+1) {
    margin-right: 30px;
  }

  &:hover {
    background-color: #00b2ff;
    color: #ffffff;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
  }
}

.advantages-title {
  color: #00b2ff;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  position: relative;

  &--time::before {
    content: "";
    background-image: url("../img/stopwatch.svg");
    background-size: 29px 35px;
    fill: #00b2ff;
    position: absolute;
    left: 0;
    top: -50px;
    height: 35px;
    width: 29px;
  }

  &--suppliers::before {
    content: "";
    background-image: url("../img/hired.svg");
    background-size: 35px 35px;
    fill: #00b2ff;
    position: absolute;
    left: 0;
    top: -50px;
    height: 35px;
    width: 35px;
  }

  &--confidentiality::before {
    content: "";
    background-image: url("../img/detective.svg");
    background-size: 36px 31px;
    fill: #00b2ff;
    position: absolute;
    left: 0;
    top: -50px;
    height: 31px;
    width: 36px;
  }

  &--personalization::before {
    content: "";
    background-image: url("../img/tag.svg");
    background-size: 36px 31px;
    fill: #00b2ff;
    position: absolute;
    left: 0;
    top: -50px;
    height: 31px;
    width: 36px;
  }
}

.advantages-description {
  color: #666666;
  font-family: "PT Mono", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}