.button {
  border-radius: 5px;
  color: #ffffff;
  font-family: $font-roboto;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
