.company {
  padding-left: 185px;
  position: relative;
  margin-top: 76px;
  margin-bottom: 50px;

  &::before {
    content: "";
    background-image: url("../img/company-img.png");
    background-size: 115px 305px;
    height: 305px;
    width: 115px;
    position: absolute;
    left: 5px;
    top: 10px;

    @media (max-width: $tablet-width-max) {
      background-size: 131px 347px;
      height: 347px;
      width: 131px;
    }

    @media (max-width: $mobile-width-max) {
      display: none;
    }
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 28px;
    margin-top: 38px;
    padding-left: 0;
  }
}

.company h3 {
  color: #666666;
  font-family: $font-roboto;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  @media (max-width: $mobile-width-max) {
    font-size: 28px;
    line-height: 39px;
  }
}

.company p {
  color: #666666;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.company__text-desktop {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.company__text-mobile {
  display: none;
  position: relative;

  @media (max-width: $tablet-width-max) {
    display: inline;

    &::after {
      content: "..";
      position: absolute;
      right: -10px;
      bottom: -2px;
    }
  }
}

.company__link {
  border: 1px solid #00b2ff;
  color: #00b2ff;
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  margin-top: 20px;
  padding: 13px 49px;
  text-decoration: none;
  vertical-align: top;

  &:hover,
  &:active,
  &:focus {
    background-color: #00b2ff;
    border-color: #00b2ff;
    color: #ffffff;
  }

  @media (max-width: $mobile-width-max) {
    margin-top: 10px;
  }
}