.copyright {
  display: flex;
  position: relative;

  &::before {
    content: "";
    border-top: 1px solid #626962;
    opacity: 0.2;
    position: absolute;
    top: -3px;
    left: -15px;
    width: calc(100% + 30px);
  }

  @media (max-width: $tablet-width-max) {
    justify-content: space-between;
    padding: 6px 0;

    &::before {
      display: none;
    }
  }

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.copyright__item {
  color: rgba(27, 45, 55, 0.5);
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media (max-width: $tablet-width-max) {
    &--rights {
      display: none;
    }

    &--date {
      display: none;
    }
  }

  &--rights {
    margin-right: 74px;
  }

  &--date {
    margin-right: 140px;
  }

  &--confidentialy {
    margin-right: 404px;

    @media (max-width: 1105px) {
      margin-right: 300px;
    }

    @media (max-width: $tablet-width-max) {
      margin-right: 0;
      margin-left: 2px;
    }

    @media (max-width: $tablet-width-max) {
      margin-bottom: 8px;
    }
  }
}

.copyright__item-link {
  color: rgba(27, 45, 55, 0.5);
  text-decoration: none;

  &:hover,
  &:focus {
    color: #1b2d37;
  }

  &:active {
    text-decoration: underline;
  }
}
