.footer-nav {

  @media (max-width: $tablet-width-max) {
    width: 52%;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;

    &--closed .footer-nav__item {
      display: none;
    }

    &--opened .footer-nav__item {
      display: none;
    }
  }
}

.footer-nav__title {
  color: #1b2d37;
  font-family: $font-roboto;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.05em;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  text-transform: uppercase;

  @media (max-width: $mobile-width-max) {
    margin-bottom: 26px;
  }
}

.footer-nav__list {
  @include no-list;
  display: flex;
  flex-wrap: wrap;
  margin-left: -2px;
  width: 551px;

  @media (max-width: 1054px) {
    width: 525px;
  }

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
    max-width: 243px;
  }

  @media (max-width: $mobile-width-max) {
    display: none;
    flex-direction: row;
    padding-bottom: 26px;
  }
}

.footer-nav__item {
  width: 243px;

  &:nth-child(2n+1) {
    margin-right: 65px;
  }

  &:nth-child(2n) {
    margin-right: 0;

    @media (max-width: 1054px) {
      width: 210px;
    }
  }

  @media (max-width: $tablet-width-max) {
    width: 100%;
  }
}

.footer-nav__item-link {
  color: rgba(27, 45, 55, 0.5);
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgb(27, 45, 55);
  }

  &:active {
    text-decoration: underline;
  }
}

.footer-nav--nojs .footer-nav__item {
  display: block;

  &--none {
    display: none;
  }
}
