.form__contacts {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
  }

  &--modal {
    flex-direction: column;
  }
}

.form__contacts-wrapper {
  width: calc(50% - 15px);

  @media (max-width: $mobile-width-max) {
    width: 100%;
  }

  &--modal {
    width: 100%;
  }
}

.form__button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
  }

  &--modal {
    flex-direction: column;
  }
}

.form__button {
  width: calc(50% - 15px);

  @media (max-width: $mobile-width-max) {
    margin-bottom: 30px;
    width: 100%;
  }

  &--modal {
    margin-bottom: 30px;
    width: 100%;
  }
}

.form {
  input,
  textarea {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 0;
    box-shadow: 0;
    color: #ffffff;
    font-size: 16px;
    padding: 16px;
    width: 100%;
    -webkit-appearance: none;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid #ffffff;
      outline: none;
      padding: 15px;
    }

    &::placeholder {
      color: #ffffff;
    }
  }

  input {
    margin-bottom: 40px;

    @media (max-width: $mobile-width-max) {
      margin-bottom: 32px;
    }
  }

  textarea {
    margin-bottom: 36px;
    resize: none;

    @media (max-width: $tablet-width-max) {
      margin-bottom: 44px;
    }

    @media (max-width: $mobile-width-max) {
      margin-bottom: 26px;
      max-height: 104px;
    }
  }

  button {
    @include no-btn;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-family: $font-roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.05em;
    line-height: 16px;
    padding: 14px 18px;
    text-transform: uppercase;
    width: 100%;

    &:hover,
    &:focus {
      background-color: #ffffff;
      border-color: #ffffff;
      color: #00b2ff;
      outline: none;
    }

    &:active {
      opacity: 0.8;
    }

    @media (max-width: $tablet-width-max) {
      padding: 15px 18px;
    }
  }

  input[type="checkbox"]:checked,
  input[type="checkbox"]:not(:checked) {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0 ;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  input[type="checkbox"] + label {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    padding-left: 40px;
    position: relative;

    &:hover,
    &:focus,
    &:active {
      color: #ffffff;
    }

    @media (max-width: $tablet-width-max) {
      padding-left: 44px;
    }

    @media (max-width: $mobile-width-max) {
      padding-left: 34px;
    }
  }

  input[type="checkbox"] + label::before {
    content: "";
    border: 1px solid #ffffff;
    opacity: 0.5;
    position: absolute;
    left: 8px;
    top: 4px;
    width: 16px;
    height: 16px;

    @media (max-width: $tablet-width-max) {
      left: 10px;
      top: 0;
    }

    @media (max-width: $mobile-width-max) {
      left: 0;
    }

  }

  input[type="checkbox"]:hover + label::before,
  input[type="checkbox"]:focus + label::before {
    opacity: 1;
  }

  input[type="checkbox"]:checked + label::before {
    background-image: url("../img/icon-checkbox-ckecked.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 1;
  }
}
.form__note {
  display: flex;
  align-items: center;
  margin-top: 4px;
  width: calc(50% - 15px);

  @media (max-width: $mobile-width-max) {
    margin-top: 0;
    width: 100%;
  }

  &--modal {
    width: 100%;

    input[type="checkbox"] + label::before {
      left:0;
      top: -1px;
    }
  }
}

.form__note input {
  width: 16px;
}
