.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  margin-right: 16px;

  @media (max-width: $mobile-width-max) {
    svg {
      height: 38px;
      width: 38px;
    }

    &--footer svg {
      height: 52px;
      width: 52px;
    }
  }
}

.logo__text {

  @media (max-width: $mobile-width-max) {
    display: none;
  }

  &--footer {
    display: block;
  }
}

.logo__brand {
  color: #ffffff;
  font-family: "Roboto Condensed", Arial, Tahoma, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  margin: 0;
  line-height: 29px;
  padding: 0;

  &--footer {
    color: #203c42;
  }
}

.logo__tagline {
  color: #788891;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
