.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  margin-right: 16px;

  @media (max-width: $mobile-width-max) {
    height: 38px;
    width: 38px;
  }

  &--footer {
    height: 52px;
    width: 52px;
  }
}

.logo__text {
  @media (max-width: $mobile-width-max) {
    display: none;
  }

  &--footer {
    display: block;
  }
}