.modal {
  background-color: #00b2ff;
  display: none;
  padding: 33px 40px;
  position: fixed;
  width: 490px;
}

.modal__close-button {
  @include no-btn;

  background-image: url("../img/icon-button-close.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  height: 17px;
  outline: none;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 17px;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    border: none;
  }
}
