.page-header {
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 33px 0;

  @media (max-width: $tablet-width-max) {
    padding: 20px 0 10px;
  }

  @media (max-width: $mobile-width-max) {
    padding: 17px 0;
  }
}

.page-header__contacts {
  align-items: center;
  display: flex;
}

.page-header__contacts-link {
  align-items: center;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  margin-left: 88px;
  position: relative;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  @media (max-width: $tablet-width-max) {
    margin-left: 32px;
  }

  @media (max-width: $mobile-width-max) {
    margin-left: 23px;
  }

  &::before {
    content: "";
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 20px;
    flex-shrink: 0;

    @media (max-width: $tablet-width-max) {
      margin-right: 0;
    }
  }

  &--email::before {
    background-image: url("../img/icon-envelope.svg");
    background-size: 19px 14px;
    height: 14px;
    width: 19px;

    @media (max-width: $tablet-width-max) {
      background-size: 24px 19px;
      height: 19px;
      width: 24px;
    }
  }

  &--phone::before {
    background-image: url("../img/icon-phone-call.svg");
    background-size: 18px 18px;
    height: 18px;
    width: 18px;

    @media (max-width: $tablet-width-max) {
      background-size: 24px 24px;
      height: 24px;
      width: 24px;
    }
  }
}

.page-header__contacts-text {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.page-header__link {
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: $font-roboto;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-left: 46px;
  padding: 14px 27px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: #00b2ff;
    border-color: #00b2ff;
  }

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}
