.page-footer__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 65px 0 60px;
  width: 100%;

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
    padding: 20px 0 38px;
  }

  @media (max-width: $mobile-width-max) {
    padding: 48px 0 16px;
  }
}

.page-footer__left-column {
  width: 30%;

  @media (max-width: $tablet-width-max) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
  }

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    margin-bottom: 25px;
  }
}

.page-footer__date {
  display: none;

  @media (max-width: $tablet-width-max) {
    display: block;
    color: #1b2d37;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    opacity: 0.5;
    text-transform: uppercase;
  }

  @media (max-width: $mobile-width-max) {
    margin: 0;
    margin-bottom: 34px;
    margin-top: 20px;
    padding: 0;
  }
}

.page-footer__wrapper-tablet {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 70%;

  @media (max-width: $tablet-width-max) {
    margin-top: 38px;
    width: 100%;

    &::before,
    &::after {
      content: "";
      border-top: 1px solid #626962;
      opacity: 0.2;
      position: absolute;
      top: -38px;
      left: -25px;
      width: calc(100% + 50px);
    }

    &::after {
      top: auto;
      bottom: -36px;
    }
  }

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    margin-top: 58px;

    &::before,
    &::after {
      top: -30px;
      left: -15px;
      width: calc(100% + 30px);
    }

    &::after {
      top: auto;
      bottom: 0;
    }
  }
}