.questions {
  background-color: #00b2ff;
  background-image: url("../img/bg-questions.png");
  background-position: 50% 50%;
  background-size: cover;
  padding: 92px 0;

  @media (max-width: $tablet-width-max) {
    background-image: none;
    padding: 85px 0;
  }

  @media (max-width: $mobile-width-max) {
    padding: 30px 0;
  }
}

.questions__content {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width-max) {
    justify-content: center;
  }
}

.questions h3 {
  color: #ffffff;
  font-family: $font-roboto;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;

  @media (max-width: $tablet-width-max) {
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width-max) {
    font-size: 28px;
    line-height: 39px;
  }
}

.questions p {
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.questions__left-column {
  margin-left: -180px;
  min-width: 665px;
  width: 50%;

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.questions__right-column {
  margin-right: 30px;
}
