.social__list {
  @include no-list;
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
  width: 112px;
}

.social__item {
  background-color: #cdcdcd;
  border-radius: 50%;
  height: 27px;
  margin-right: 15px;
  position: relative;
  width: 27px;

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    background-color: #00b2ff;
  }

  &:active {
    opacity: 0.8;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
