.company__title {
  color: #666666;
  font-family: "Roboto Condensed", Arial, Tahoma, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
}

.company__description {
  color: #666666;
  font-family: "PT Mono", "Courier New", Courier, monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}