@font-face {
  font-family: "Roboto Condensed";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-c-regular.woff2") format("woff2"),
    url("../fonts/roboto-c-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-c-bold.woff2") format("woff2"),
    url("../fonts/roboto-c-bold.woff") format("woff");
}

@font-face {
  font-family: "PT Mono";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptmono.woff2") format("woff2"),
    url("../fonts/ptmono.woff") format("woff");
}

@font-face {
  font-family: "PT Mono";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptmonobold.woff2") format("woff2"),
    url("../fonts/ptmonobold.woff") format("woff");
}
